*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ul2{
       box-shadow: 2px 2px 4px black;
     
      gap: 10px;
       display: flex;

 }


.ul1:hover{
        transform: translateY(-8px);

}

.fa-circle-up .fa-circle-down{
    visibility: 5px;
    color: #3cff002f;
}
.fa-circle-up:hover{

    transform:translateY(-3px);
    color: rgba(239, 0, 0, 0.518);
}
.fa-circle-down:hover{

    transform:translateY(5px);
    color: rgba(239, 0, 0, 0.516);
}

body{
    
    font-family: "Poppins", sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
   text-align: right;
}
nav ul{
    display:inline-block ;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20PX;
}
a{
  text-decoration: none;
  color: #555;
  font-weight: 450;
 
}
a:hover{
    color: #000000;
}
p{
    color: #555;
}

.container{
    
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{

    max-width: 100%;
    padding: 50px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #d84532;
}

.header{

    background: radial-gradient(circle,rgba(247, 247, 247, 1) 0%, rgb(92, 201, 211) 100%);
}
.header .row{
   
margin-top: 70px;    
}

/* categoriesss.... */

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition:ease-in 0.6s;
    box-shadow: 2px 4px 5px black;
}

.col-3:hover{
    transform:translateY(-6px);
}

.col-3 img{
    width: 100%;
}

/* product */

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.6s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff532b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;

}
.col-4 p{
    font-size: 14px;

}
.rating{
    color: #ff523b;
}
.col-4:hover{
    transform:translateY(-6px)
 }

    /* Offer */

 .offer{
    background: linear-gradient(90deg, rgb(249, 251, 112) 0%, rgb(254, 207, 158) 100%);
    margin-top: 80px;
    padding: 30px 0;
    
 }
 .col-2 .offer-img{
   padding: 50px;
 }
 small{
    color: #555;
 }

/* testimonial */

.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(179, 179, 179);
    cursor: pointer;

}

.testimonial .col-3 img{

    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

 .fa-quote-left{

font-size: 36px;
color: #ff523b;

}

.col-3 p{

    font-size: 12px;
    margin: 12px 0;

}

.testimonial .col-3 h3{

    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* ------------brands=-------- */

.brands{

    margin: 100px auto;

}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
filter: grayscale(0%);
}

 /* -----------footer----------- -- */

 .footer{

    background: #000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
 }
 .footer p{

    color: #8a8a8a;
 }
  .footer h3{
    color: #fff;
  }

.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{

    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-1 p:hover{
    color: red;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 p:hover{
    color: red;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3 , .footer-col-4{
    flex-basis: 12%;
    text-align: center;

}

.footer-col-3 li:hover{
    color: #fc0000;
} 
.footer-col-4 li:hover{
color: #ff0000;
}

ul{
    list-style-type: none;
}
.app-log{
    margin-top: 20px;
}
.app-log img{

    width: 140px; 

}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 2px;
    margin: 20px 0;
}

.copyright{
    color: gold;   

}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;

}

/* media query for lessthan 800px */

@media only screen and (max-width:800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background:radial-gradient(circle,rgba(247, 247, 247, 1) 0%, rgb(92, 201, 211) 100%);

        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }
   
  
    
    .ul1:hover{  
       
      transform: scale(1.1);
      
    }
   


    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        nav ul li a{

            color: rgb(126, 122, 122);
        }
        .menu-icon{
            display: block;
            cursor: pointer;
        }
         .ul2{
        display: block;
       background: linear-gradient(90deg, rgb(171, 244, 239) 0%, hsla(150, 54%, 86%, 1) 50%, hsla(301, 68%, 84%, 1) 100%);
      
    }
    .ul1{
        
     margin-left: 120px;
     padding: 30px;

    }
    .ul1 img{
        width: 350px;
        height: 300px;
         margin-bottom: 0px;
      padding: 20px;
       margin-left: 50px;
    }
      .ul1 h4{
        margin-left: 90px;
        
     
    }
   

  
 
}

/* media query for lessthan 600 */

@media only screen and (max-width:600px){

    .row{
        text-align: center;

    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
     text-align: left;
    }
    .single-product.col-2{
        padding: 20px 0;
    }
     .ul2{
        display: block;
        padding: 17px;
      background: linear-gradient(110deg,rgba(0, 255, 255, 1) 0%, rgba(61, 61, 252, 1) 100%);
    }
   .ul1 img{
        width: 220px;
        height: 200px;
         margin-bottom: 0px;
      padding: 20px;
       margin-left: -109px;
      
    }

    .ul1 h4{
        margin-left: -50px;
        
     
    }
}


/* ---------all products--------- */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;

}
select{

    border: 1px solid #ff523b;
    padding:5px ;

}
select:focus{
    outline: none;
}

.page-btn{
    
    margin: 0 auto 80px;

}
.page-btn span{
    
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 6px;
}

.page-btn span:hover{

    background: #ff523b;
    color: white;

}

/* ---------single product delails--------- */
.single-product{

    margin-top: 80px;

}
.single-product .col-2 img{

    padding: 0px;

}
.single-product .col-2{

    padding: 20px;


}
.single-product h4{

    margin: 20px;
    font-size: 22;
    font-weight: bold;
}
.single-product select{

    display: block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
}


.single-product input{

    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10PX;
    border-color: #ff523b;
    border-radius: 8px;
  
}

input:focus{

    outline: none;
}
.fa-indent{

    color: #ff523b;
    margin-left: 5px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{

    flex-basis: 24%;
    cursor: pointer;
}